@media screen and (max-width:1470px) {
    .img-fluid{
        width:20vw;
        height:20vw;
    }
}
@media screen and (max-width:600px) {
    .Adios{
        height: 300px!important;
    }
}
.right-arrow{
    width: 8vw;
}
.scrolling{
    background-color: #52acff!important;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(auto, auto);
  }

